body {
    background-position-y: 50px;
    background-image: url("http://bgfons.com/uploads/wood/wood%20_texture528.jpg"); 
    height: 100%;
    width: 100%;
  }
  
  
#searchInput{
    background-color: whitesmoke;
    margin-top: 60px;
    margin-left: 50%;
    border: black 2px solid;
    min-width: auto;
}

#searchBtn{
    width: 40px;   
}
.btn{
    background-color: black;
    margin-left: 50%;
}
.card{
    width: 800px;
    position: absolute;
    left: 35%;
    background-color: whitesmoke;
}
.brand-logo {
    height: auto;
  }